.catalogue {
    height: 100%;
    width: 100%;
    display: flex;
}

#route-catalogue {
    list-style-type: none;
    flex: 3;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 0px 20px;
    border-right: solid 5px black;
}
#route-catalogue li {
    background-color: #ddd;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: double black;
    border-width: 5px 0px;
}
#route-catalogue li:hover{
    cursor: pointer;
}
.route-info {
    display: flex;
}
.route-info span {
    flex: 1;
    white-space: pre;
}

.filters-menu {
    flex: 2;
    background-color: #ddd;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.filters-menu h3 {
    color: #333;
    margin-bottom: 10px;
}

.filters-menu ul {
    list-style-type: none;
    padding: 0;
}

.filters-menu li {
    color: #666;
    padding: 5px 0;
}