.catalogue {
    width: 100%;
    flex: 3;
    display: flex;
    overflow: hidden;
}

#route-catalogue {
    list-style-type: none;
    flex: 3;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 0px 20px;
    border-right: solid 5px black;
}
#route-catalogue li {
    background-color: #ddd;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: double black;
    border-width: 5px 0px;
}
.route-info {
    display: flex;
}
.route-info span {
    flex: 1;
    white-space: pre;
}

.filters-menu {
    flex: 2;
}

#details-panel {
    width: 100%;
    flex: 2;
    border-top: solid 5px black;
}