.chosen-stretches {
    pointer-events: none;
}

li.disabled {
    pointer-events:none;
    opacity:0.6;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: scroll;
}

.operations
{
    width: 50%;
    margin: 0 20px;
    background: #ddd;
    border: solid 5px black;
    border-radius: 5px;
    text-align: center;
    overflow: auto;
}

#available-stretches-list
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.stretch
{
    list-style-type: none;
    background: rgb(55, 180, 225);
    border-radius: 2vh;
    height: 4vh;
    width: 75%;
    margin: 5px 0;
    border: 1px solid rgb(80, 30, 100);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.stretch:hover
{
    background: rgb(80, 30, 100);
}

h2
{
    text-align: center;
}

#stretch-info {
    width: 100%;
    border-top: solid 5px black;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #ddd;
}

#stretch-info h3 {
    width: 100%;
    text-align: center;
}
